.cb {
  display: inline;

  label {
    display: inline-block;
    position: relative;
    background-color: #fff;
    border: 2px solid rgba(139, 139, 139, 0.3);
    color: rgb(139, 139, 139);
    border-radius: 25px;
    margin: 3px 0px;
    padding: 8px 12px 8px 30px;
    min-height: 29px;
    cursor: pointer;
    transition: all 0.2s;

    &:before {
      position: absolute;
      top: 15px;
      left: 10px;
      font-weight: 900;
      font-size: 22px;
      line-height: 0;
      padding: 0;
      margin-right: 5px;
      content: "+";
      transition: transform 0.3s ease-in-out;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;

    &:checked + label {
      border: 2px solid #5f3b8d;
      background-color: #5f3b8d;
      color: #fff;
      transition: all 0.2s;

      &:before {
        content: "";
        width: 7px;
        height: 3px;
        top: 12px;
        border-left: 4px solid #fff;
        border-bottom: 4px solid #fff;
        transform: rotate(-405deg);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}
