.dropdown {
  display: table;
  margin: 0 auto;
  font-size: 2rem;

  a {
    text-decoration: none;
  }

  [data-toggle="dropdown"] {
    position: relative;
    display: block;
    padding: 10px 40px 10px 10px;
    background: color(accent, purple);
    color: #fff;
  }
  .icon-arrow {
    position: absolute;
    display: block;
    font-size: 0.7em;
    top: 15px;
    right: 15px;
    color: #fff;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(45deg);
    padding: 3px;
  }

  .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    background: color(grey);

    li {
      padding: 0;

      &:not(:last-of-type) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      a {
        display: block;
        padding: 10px 10px;
      }
    }
  }

  .active {
    display: block;
    max-height: 1000px;
  }
}
