.filter {
  border: 1px solid #000;
  margin: 10px auto;

  .option {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;

    @media (max-width: bp(tablet)) {
      flex-wrap: wrap;
    }

    h2 {
      font-size: 2rem;
      margin: 0 20px 0 0;
    }

    &:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .react-date-picker,
  .cb {
    margin-right: 10px;
  }

  .btm-bar,
  .top-bar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    p {
      margin: 0;
      font-size: 1.5rem;
      color: #fff;
    }
  }

  .top-bar {
    background-color: #fff;
    justify-content: space-between;

    img {
      width: 35px;
      height: auto;
    }

    .delete {
      font-size: 36px;
      line-height: 1;
      width: 25px;
      color: rgba(139, 139, 139, 1);
      cursor: pointer;
    }
  }

  &.purple {
    .btm-bar {
      background-color: color(accent, purple);
    }
  }

  &.gray {
    .btm-bar {
      background-color: color(accent, gray);
    }
  }

  &.green {
    .btm-bar {
      background-color: color(accent, green);
    }
  }

  &.blue {
    .btm-bar {
      background-color: color(accent, blue);
    }
  }
}
