/*--------------- GLOBAL ASSETS ---------------------*/
html,
body {
  font-family: $bodyFont;
  float: left;
  width: 100%;
  font-size: 10px;
}

main {
  min-height: 800px;
  float: left;
  width: 100%;
}

h1 {
  font-size: fontsize(h1);
  font-weight: normal;
  line-height: 1;
  font-family: $headlineFont;
  text-align: center;

  @media (max-width: bp(tablet)) {
    font-size: 4rem;
  }

  span {
    width: 100%;
    float: left;

    &.sub {
      font-family: $bodyFont;
      font-weight: 100;
      font-size: fontsize(h3);
      text-transform: none;
    }
  }
}

h2 {
  font-size: fontsize(h2);
  color: color(accent, darkBlue);
  margin: 0 0 $sectionSpace 0;
  font-weight: 100;
}

p {
  font-size: fontsize(paragraph);
  line-height: 1.5;
  margin: 0 0 $sectionSpace 0;
  color: color(black);
  font-weight: 300;

  sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }

  strong {
    font-weight: 500;
  }

  &.title {
  }
}

.btn {
  padding: 7px 20px;
  font-size: fontsize(paragraph);
  background-color: color(accent, purple);
  color: color(white);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  display: table;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: color(accent, purple);
  }
}

/*--------------- STRUCTURE ---------------------*/
body {
  padding-bottom: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;

  @media (max-width: bp(tablet)) {
    padding: 0 0 30px 0;
    flex-direction: column;
  }

  h1 {
    margin-bottom: 20px;
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: auto;

    @media (max-width: bp(tablet)) {
      position: relative;
      top: auto;
      left: auto;
      margin: 20px;
    }
  }
}

.map-cont {
  width: 100%;
  height: calc(100vh - 185px);
  max-height: 1080px;
  margin-bottom: 10px;

  #google-map {
    width: 100%;
    height: 100%;
  }
}
