//fonts
$headlineFont: "Raleway", serif;
$bodyFont: "Raleway", sans-serif;

//font sizes
$fontSizes: (
  footer: 1rem,
  disclaimer: 1.5rem,
  paragraph: 2rem,
  h1: 6rem,
  h2: 3.8rem,
  h3: 2.5rem,
  links: 2.2rem
);

//Spacing
$paddingMain: 50px;
$sectionSpace: 30px;

//colors
$colors: (
  white: (
    base: #fff,
    transparent: rgba(255, 255, 255, 0.75)
  ),
  black: (
    base: #000
  ),
  grey: (
    base: #ececec
  ),
  accent: (
    purple: #5f3b8d,
    gray: #818486,
    green: #b1c13c,
    blue: #1d8ab3
  )
);

//break points
$breakPoints: (
  sm: 768px,
  tablet: 1024px,
  sm-desktop: 1200px,
  lg-desktop: 1400px
);
