/*--------------- ICONS ---------------------*/
.icons * {
  margin: 5px;
  float: left;
}

.right-green-arrow {
  width: 32px;
  height: 20px;
  background: url(../images/icons.png);
  background-position: 0px 0px;
}
