/*-------------- WP NAV STRUCTURE ------------------*/
#main-nav {
  &.active {
  }

  @at-root .logged-in #main-nav {
    top: calc(32px + 75px);

    @media (max-width: bp(sm)) {
      top: calc(45px + 75px);

      &.scroll {
        top: 75px;
      }
    }
  }

  .menu-main-menu-container {
    ul {
      li {
        a {
        }

        &.current-menu-item {
          a {
            &:after {
            }
          }
        }

        .sub-menu {
          li {
            a {
            }
          }
        }

        li.current_page_item,
        li.current_page_parent {
          .sub-menu {
            li a,
            li.current_page_item a {
            }
          }
        }
      }
    }
  }
}
