/*-------------- NINJAFORM ------------------*/
.form-cont {
  padding: $sectionSpace;

  .nf-form-content {
    padding: none;
    max-width: auto;
  }

  nf-field {
    width: 25%;
    float: left;
    margin: 0 10px 10px 0;

    .nf-field-container {
      margin-bottom: 0;
    }

    input,
    textarea {
      padding: 10px;
      float: left;
      width: 100%;
      height: auto;
    }

    &:nth-of-type(3) {
      clear: left;
    }

    &:nth-of-type(5) {
      width: 50%;
      float: right;
      margin-top: -50px;
    }
  }

  .nf-field-label {
    display: none;
  }

  .nf-form-content input[type="button"] {
    background-color: color(accent);

    &:hover {
    }
  }

  .nf-form-fields-required {
    display: none;
  }
}
