/****************************************

SWIPER SECTION

include js: 

basic structure: 

****************************************/

.swiper-section {
  .swiper-nav {
    @include flexCenter;
    @include internalNav;
    position: relative;

    .swiper-link {
      @include internalNavLink;
      padding: 10px;
      cursor: pointer;

      &.active {
        text-decoration: underline;
      }
    }
  }

  .swiper-cont {
    overflow: hidden;
    position: relative;

    .swiper-button-prev {
      background: none;
      width: 30px;
      height: 50px;
      margin: 0;
      top: calc((100% - 50px) / 2);
      left: 5px;

      &:after {
        content: "";
        width: 30px;
        height: 30px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        position: absolute;
        top: 8px;
        left: 8px;
        transform: rotate(-135deg);
      }
    }

    .swiper-button-next {
      background: none;
      width: 30px;
      height: 50px;
      margin: 0;
      top: calc((100% - 50px) / 2);
      right: 5px;

      &:after {
        content: "";
        width: 30px;
        height: 30px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        position: absolute;
        top: 8px;
        right: 8px;
        transform: rotate(45deg);
      }
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
      opacity: 0.1;
    }
  }

  .swiper-pagination {
    width: 100%;
    position: relative !important;
    padding: 5px 0;

    .swiper-pagination-bullet {
      margin: 0 5px;

      &.swiper-pagination-bullet-active {
        background-color: #000;
      }
    }
  }
}
