@import "nl-functions";
@import "nl-variables";
//Overwrite defaults
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

//Responsive switches
.desktop {
  display: block;

  @media (max-width: $bp-mobile) {
    display: none;
  }
}

.mobile {
  display: none;

  @media (max-width: $bp-mobile) {
    display: block;
  }
}

//Structural components
section,
.full {
  width: 100%;
  float: left;
  position: relative;
}

.lrg-cont {
  width: 1300px;
  margin: 0 auto;

  @media (max-width: 1350px) {
    width: 96%;
    margin: 0 2%;
  }
}

.cont {
  width: 1125px;
  margin: 0 auto;

  @media (max-width: $bp-large) {
    width: 90%;
    margin: 0 5% 0 5%;
  }
}

.float-cont {
  width: 1125px;
  float: left;
  margin: 0 calc((100% - 1125px) / 2);

  @media (max-width: $bp-large) {
    width: 90%;
    margin: 0 5% 0 5%;
  }
}

.small-cont {
  width: 950px;
  margin: 0 auto;

  @media (max-width: $bp-tablet) {
    width: 90%;
    margin: 0 5% 0 5%;
  }
}

.half {
  width: 50%;
  float: left;

  @media (max-width: $bp-tablet) {
    width: 100%;
  }
}

//Responsive video frame
.responsive-video {
  width: 100%;
  float: left;

  .video-size-frame {
    height: 0;
    padding-bottom: 56.3%;
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.fadeGallery {
  width: 100%;
  float: left;
  position: relative;
  transition: all 1s;

  li.slide,
  .slide {
    opacity: 0;
    display: none;
    position: absolute;
    pointer-events: none;
    transition: opacity 1s;

    a {
      pointer-events: none;
    }

    &.active {
      display: block;
      float: left;
      position: relative;
      opacity: 1;
      pointer-events: auto;

      a {
        pointer-events: auto;
      }
    }
  }
}

//quick show/hide layers
@mixin showLayer {
  position: relative;
  top: auto;
  width: 100%;
  float: left;
  pointer-events: auto;
  opacity: 1;
  z-index: 1;
}

@mixin hideLayer {
  position: absolute;
  width: 100%;
  opacity: 0;
  left: 0;
  pointer-events: none;
  z-index: -5;
}

.tab {
  transition: all 0.5s;

  @include hideLayer;

  &.active {
    @include showLayer;
  }
}

/*layer {
    transition: all 0.5s;

    @include hideLayer;

    &.active {
      @include showLayer;
    }
  }
  */
